.h2 {
  font-family: "Roboto Slab", serif;
  color: white;
  font-size: 100px;
  margin-right: 0.5em;
  margin-bottom: 0;
  margin-top: 0;
}

.span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: row;
}

/* stylelint-disable-next-line selector-class-pattern */
.span_main {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}

.section h2 {
  margin-right: 0.2em;
}
